<%- include ../layout/head.ejs %>
<div class="ui two column grid">
    <div id="left_column" class="ui rail four wide column">
        <%include ../columns/advertisement/left-column-search.ejs%>
    </div>
    <div id="right_column" class="twelve wide column">
        <div class="ui top attached segment" id="ad-post-content"></div>
    </div>
    <div class="four wide column"></div>
</div>
<div id="modal"></div>

<script>
    window.localStorage.setItem('is_me', <%= is_me %>)
    window.localStorage.setItem('token', '<%= token %>')
    window.localStorage.setItem('id_account', '<%= id %>')
</script>
<script type="module" src="/assets/js/custom/advertisement/advertisement.ajax.js"></script>
<script type="module" src="/assets/js/custom/advertisement/advertisement.validation.js"></script>
<script type="module" src="/assets/js/custom/advertisement/advertisement.module.js"></script>

<script type="module" src="/assets/js/custom/tags/tags.module.js"></script>

<script type="module" src="/assets/js/custom/bookmarks/bookmarks.module.js"></script>

<script type="module" src="/assets/js/custom/modal/modal.modul.js"></script>

<script type="module" src="/assets/js/custom/messages/socket.js"></script>

<%- include ../layout/foot.ejs %>