<%- include ../layout/head.ejs %>
      <div class="ui two column grid">
        <div id="left_column" class="three wide column">
          <%- include ../columns/profile/left.ejs %>
        </div>
        <div id="right_column" class="ten wide column" >
        </div>
          <div id="right_column" class="three wide column" >
              <button type="button" class="ui button teal " id="btnsuccessleft"> Success Left</button>
          </div>
      </div>
<div id="modal"></div>

    <script>
        window.localStorage.setItem('id_account', '<%= id_account %>')
        window.localStorage.setItem('is_me', <%= is_me %>)
        window.localStorage.setItem('token', '<%= token %>')
        window.localStorage.setItem('id_redirect', '<%= id %>')
        window.localStorage.setItem("quick_message",false);
    </script>
<script>

    $('#btnsuccessleft').click(function() {
        $.uiAlert({
            textHead: 'You may now log-in with the username you have chosen', // header
            text: 'You may now log-in with the username you have chosen', // Text
            bgcolor: '#19c3aa', // background-color
            textcolor: '#fff', // color
            position: 'bottom-right',// position . top And bottom ||  left / center / right
            icon: 'checkmark box', // icon in semantic-UI
            time: 3, // time
        })
    });

</script>
    <script type="module" src="/assets/js/custom/profile/profile.module.js"></script>


    <script type="module" src="/assets/js/custom/bookmarks/bookmarks.module.js"></script>

    <script type="module" src="/assets/js/custom/modal/modal.modul.js"></script>

<script type="module" src="/assets/js/custom/messages/socket.js"></script>

<%- include ../layout/foot.ejs %>