<%- include ../layout/head.ejs %>
      <div class="ui two column grid">
        <div id="left_column" class="four wide column">
          <%- include ../columns/profile/left.ejs %>
        </div>
        <div id="right_column" class="twelve wide column">
        </div>
      </div>
<div id="modal"></div>

    <script>
        window.localStorage.setItem('is_me', <%= is_me %>)
        window.localStorage.setItem('token', '<%= token %>')
        window.localStorage.setItem('id_account', '<%= id %>')
    </script>

    <script type="module" src="/assets/js/custom/profile/profile.render.js"></script>
    <script type="module" src="/assets/js/custom/profile/profile.module.js"></script>


    <script type="module" src="/assets/js/custom/bookmarks/bookmarks.module.js"></script>

    <script type="module" src="/assets/js/custom/modal/modal.modul.js"></script>

<script type="module" src="/assets/js/custom/messages/socket.js"></script>

<%- include ../layout/foot.ejs %>