<%- include ../layout/head.ejs %>
      <div class="ui two column grid">
        <div class="stretched row">
          <div id="left-column-block" class="four wide column" style="min-height: 550px">
            <div class="ui segment">
              <div id="dialog-block" class="ui segment link items"></div>
            </div>
          </div>
          <div class="twelve wide column">
            <div id="name" class="ui top attached header" tabindex="0" style="min-height: 45px; max-height: 45px"></div>
            <div id="message-scroll-block" class="ui attached segment" style="overflow-y: scroll; min-height: 550px; max-height: 550px">
              <div class="ui comments" id="messages-block" style="max-width: 100%"></div>
            </div>
            <div id="input-message" class="ui disabled bottom attached segment" style="max-height: auto">
              <div class="ui disabled input action fluid">
                <input id="message" placeholder="Write something">
                <button class="ui disabled button" onclick="ws_send_message()">
                  <i class="send icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
<script type="module" src="/assets/js/custom/messages/socket.js"></script>
<%- include ../layout/foot.ejs %>

    <!--<script src="semantic/front/messages/messages.module.js"></script>-->
    <!--<script src="semantic/front/messages/messages-data.js"></script>-->
    <!--<script src="semantic/front/profile/profile-event.js"></script>-->
    <!--<script src="semantic/front/profile/profile-data.js"></script>-->
    <!--<script src="semantic/front/messages/messages-socket-handle.js"></script>-->
    <!--<script src="semantic/front/service/data/file/image-data.js"></script>-->
    <!--<script>-->
        <!--var token = '<%= token %>';-->
        <!--var id_account = '<%=id%>';-->
        <!--var is_me = '<%= is_me %>';-->

        <!--var audio = new Audio();-->
        <!--audio.preload = 'auto';-->
        <!--audio.src = 'semantic/dist/sound/BubblePopWav.wav';-->

        <!--$('#input-message').on('keydown', function (event) {-->
            <!--if (event.keyCode === 13) {-->
                <!--ws_send_message();-->
            <!--}-->
        <!--});-->
        <!--update_notification();-->
        <!--set_dialog_block();-->
        <!--get_my_data();-->
    <!--</script>-->
    <!--<script src="semantic/front/messages/socket.js"></script>-->
